<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>700708120523-mtt4ddcs733hvov0je0bpacucprqjog1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.700708120523-mtt4ddcs733hvov0je0bpacucprqjog1</string>
	<key>API_KEY</key>
	<string>AIzaSyCWy30SnS3C2Xi19xouhR1EM0Gb015QFw4</string>
	<key>GCM_SENDER_ID</key>
	<string>700708120523</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.estacionamentoJoao</string>
	<key>PROJECT_ID</key>
	<string>estacionamento-joao</string>
	<key>STORAGE_BUCKET</key>
	<string>estacionamento-joao.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:700708120523:ios:77150e61a3ae4050aeb84e</string>
</dict>
</plist>